apiVersion: v1
kind: Secret
metadata:
  name: {{ include "helm.fullname" . }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.mariadb.enabled }}
  database-url: {{ printf "mysql://%s:%s@%s-mariadb/%s" .Values.mariadb.auth.username .Values.mariadb.auth.password .Release.Name .Values.mariadb.auth.database | b64enc | quote }}
  {{- else }}
  database-url: {{ .Values.mariadb.url | b64enc | quote }}
  {{- end }}
